# Ignore Temp Files       
*.*~
.DS_Store
*.swp
.vscode/launch.json
js/.DS_Store
images/.DS_Store
.idea/*

# dependencies
node_modules

# production
build

npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
.vscode
.idea